.TotalProjectedRevenueCSS {
    font-weight: 600;
    font-size: 110%;
    color: #c00;
}

.TotalProjectedRevenueCurrencyCSS {
    font-weight: 600;
    font-size: 110%;
    color: #c00;
}

.PROJECTEDREVENUECSS{
    width: 55%;
}